<div class="container" style="padding-top: 20px;">

  <h1>Datahouse Team Compatibility Checker</h1>


  <hr>

  <!-- Current Team Member Section ------------------------------------------------------ -->
  <h3 style="display: inline-block;">Current Team Members</h3>

  <div (click)="addMember(true); addSwal.show()" class="href" style='margin-left: 90px; display: inline'><i class="fa fa-plus"></i>&nbsp;Add Team Member</div>

  <div style="display: inline; margin-left: 30px;">
    <label for="file-upload" class="custom-file-upload">
      Load JSON file
    </label>
    <input type="file" id="file-upload" (change)="onFileChange($event)" #fileInput>
    <div *ngIf="invalidFile" style="color: red; font-size: 12px; margin-left: 580px; margin-top: -8px; margin-bottom: -20px;">Invlaid JSON file Format</div>
  </div>

  <!-- modal to add a new member -->
  <swal #addSwal title="" [showCancelButton]="true" (confirm)="saveMember(teamFlag)">
    <div *swalPartial class="user-modal">
      <h2 class="swal2-title" id="swal2-title">{{modalTitle}}</h2>

      <div class="row">
        <div class="col-sm-12">
          <label>Name</label>
          <input type="text" id="addName" [(ngModel)]="addName" class="form-control">
        </div>
        <div class="col-sm-6">
          <label>Intelligence ({{addIntelligence}})</label>
          <nouislider [connect]="true" [min]="0" [max]="10" [step]="1" [(ngModel)]="addIntelligence"></nouislider>
        </div>
        <div class="col-sm-6">
          <label>Strength ({{addStrength}})</label>
          <nouislider [connect]="true" [min]="0" [max]="10" [step]="1" [(ngModel)]="addStrength"></nouislider>
        </div>
        <div class="col-sm-6">
          <label>Endurance ({{addEndurance}})</label>
          <nouislider [connect]="true" [min]="0" [max]="10" [step]="1" [(ngModel)]="addEndurance"></nouislider>
        </div>
        <div class="col-sm-6">
          <label>Spicy Food Tolerance ({{addSpicyFoodTolerance}})</label>
          <nouislider [connect]="true" [min]="0" [max]="10" [step]="1" [(ngModel)]="addSpicyFoodTolerance"></nouislider>
        </div>
      </div>
    </div>
  </swal>

  <div class="row">
    <div class="col-xs-12">
      <table class="table table-bordered" style="font-size: 14px !important;">
        <tr style="background-color: #ccc;">
          <th style="min-width: 150px;">Name</th>
          <th>Intelligence</th>
          <th>Strength</th>
          <th>Endurance</th>
          <th>Spicy Food Tolerance</th>
          <th style="min-width: 150px;">Actions</th>
        </tr>
        <tr *ngFor="let member of team ">
          <td>
            {{member.name}}
          </td>
          <td class="text-center">
            {{member.intelligence}}
          </td>
          <td class="text-center">
            {{member.strength}}
          </td>
          <td class="text-center">
            {{member.endurance}}
          </td>
          <td class="text-center">
            {{member.spicyFoodTolerance}}
          </td>

          <td class="text-center">
            <div style="width: 140px;">
              <div href="" (click)="editMember(true, member);" class="href" style="margin-right: 15px; display: inline;">
                <i class="fa fa-edit"></i>&nbsp;Edit</div>

              <div (click)="delSwal.show()" class="href" style=" display: inline;">
                <i class="fa fa-trash"></i>&nbsp;Delete</div>
            </div>



            <!-- modal to delete a member -->
            <swal #delSwal title="Delete Team Member?" text="This will Delete the team member permanently.Do you want to continue?" type="question" [showCancelButton]="true" [focusCancel]="true" (confirm)="deleteMember(true, member)">
            </swal>
          </td>
        </tr>
        <tr *ngIf="team.length == 0;">
          <td colspan="6">
            <div class="text-center">No Team Members Loaded</div>

          </td>
        </tr>
        <tr style="background-color: #eee;">
          <td>
            Team Average
          </td>
          <td class="text-center">
            {{getAttributeAverage('intelligence')}}
          </td>
          <td class="text-center">
            {{getAttributeAverage('strength')}}
          </td>
          <td class="text-center">
            {{getAttributeAverage('endurance')}}
          </td>
          <td class="text-center">
            {{getAttributeAverage('spicyFoodTolerance')}}
          </td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>



  <!-- Current Team Member Section End ------------------------------------------------------ -->

  <hr>

  <!-- Applicant section------------------------------------------------------ -->
  <h3 style="display: inline-block;">Potential Applicants</h3>
  <div (click)="addMember(false);" class="href" style='margin-left: 500px; display: inline;'><i class="fa fa-plus"></i>&nbsp;Add Applicant</div>


  <div class="row">
    <div class="col-xs-12">
      <table class="table table-bordered" style="font-size: 14px !important;">
        <tr style="background-color: #ccc;">
          <th style="min-width: 150px;">Name</th>
          <th>Intelligence</th>
          <th>Strength</th>
          <th>Endurance</th>
          <th>Spicy Food Tolerance</th>
          <th>Compatibility Rating</th>
          <th style="min-width: 150px;">Actions</th>
        </tr>
        <tr *ngFor="let member of applicants ">
          <td>
            {{member.name}}
          </td>
          <td class="text-center">
            {{member.intelligence}}
          </td>
          <td class="text-center">
            {{member.strength}}
          </td>
          <td class="text-center">
            {{member.endurance}}
          </td>
          <td class="text-center">
            {{member.spicyFoodTolerance}}
          </td>
          <td class="text-center">
            {{member.compatibility}}
          </td>

          <td class="text-center">
            <div style="width: 140px;">
              <div href="" (click)="editMember(false, member);" class="href" style="margin-right: 15px; display: inline;">
                <i class="fa fa-edit"></i>&nbsp;Edit</div>

              <div (click)="del2Swal.show()" class="href" style=" display: inline;">
                <i class="fa fa-trash"></i>&nbsp;Delete</div>
            </div>

            <!-- modal to delete a member -->
            <swal #del2Swal title="Delete Applicant?" text="This will Delete the applicant permanently.Do you want to continue?" type="question" [showCancelButton]="true" [focusCancel]="true" (confirm)="deleteMember(false, member)">
            </swal>
          </td>
        </tr>
        <tr *ngIf="applicants.length == 0;">
            <td colspan="7">
              <div class="text-center">No Applicants Loaded</div>
  
            </td>
          </tr>
      </table>
    </div>
  </div>
  <span class="href" (click)="downloadJson();">Download the Applicant List as JSON</span>
  <!-- Applicant section End------------------------------------------------------ -->
</div>

