/* You can add global styles to this file, and also import other style files */
th {
  text-align: center;
}

.table td, .table th {
  padding: 7px;
}


/*mimic the look of an href*/
.href {
  color: #1E90FF !important;
}

.href:hover {
  text-decoration: underline;
  cursor: pointer;
}



.user-modal input {
  margin-bottom: 10px;
} 

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
}